@import '_colors.scss';
@import '_fonts.scss';
@import '_urls.scss';
@import '_mixins.scss';

body {
  background-color: $blue;
}

.content-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LoginText, p {
  text-align: center;
}

form {
  text-align: center;
  margin-top: 20px;
}

.Welcome {
  padding-top: 20px;
}
